// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
#root header .logo{
    height: 3rem;
}

#root footer {
    background-color: #0a1c3d;
}
#root .learning-header{
    background-color: #0a1c3d;
    color: #fff;
}
#root .user-dropdown .btn-outline-primary{
    background-color: #fff;
}
#root .learning-header a[href="https://support.edx.org"] {
    display: none;
}
#root .learning-header a[href="null"] {
    display: none;
}
#root .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
   
}  