// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$primary: #0a1c3d !default;
$brand: #ffab00 !default;
$light: #FFF7E8 !default;
$dark: #2A3A4C !default;
$accent-a: #ffab00 !default;
$accent-b: #FFE8AE !default;